MultiNLI.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/repevalioutil.cpython-36.pyc
data/multinli_1.0.zip
data/snli_1.0.zip
data/__MACOSX/._multinli_1.0
data/__MACOSX/._snli_1.0
data/__MACOSX/multinli_1.0/._.DS_Store
data/__MACOSX/multinli_1.0/._Icon
data/__MACOSX/multinli_1.0/._paper.pdf
data/__MACOSX/multinli_1.0/._README.txt
data/__MACOSX/snli_1.0/._.DS_Store
data/__MACOSX/snli_1.0/._Icon
data/__MACOSX/snli_1.0/._README.txt
data/nli/multinli_1.0/Icon
data/nli/multinli_1.0/multinli_1.0_dev_matched.jsonl
data/nli/multinli_1.0/multinli_1.0_dev_matched.txt
data/nli/multinli_1.0/multinli_1.0_dev_mismatched.jsonl
data/nli/multinli_1.0/multinli_1.0_dev_mismatched.txt
data/nli/multinli_1.0/multinli_1.0_train.jsonl
data/nli/multinli_1.0/multinli_1.0_train.txt
data/nli/multinli_1.0/paper.pdf
data/nli/multinli_1.0/README.txt
data/nli/snli_1.0/Icon
data/nli/snli_1.0/README.txt
data/nli/snli_1.0/snli_1.0_dev.jsonl
data/nli/snli_1.0/snli_1.0_dev.txt
data/nli/snli_1.0/snli_1.0_test.jsonl
data/nli/snli_1.0/snli_1.0_test.txt
data/nli/snli_1.0/snli_1.0_train.jsonl
data/nli/snli_1.0/snli_1.0_train.txt
